@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: "Archangelsk";
    src: url(../fonts/ofont.ru_Archangelsk.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1920px;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.header {
    height: 1000px;
    background-image: url(../img/11\(3\).png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 320px 0 320px;
    display: flex;
    flex-direction: column;
    gap: 531px;
    position: relative;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-menu {
            list-style: none;
            display: flex;
            gap: 40px;
        }
    }

    &__content {
        width: 624px;
        height: 369px;
        padding: 70px;
        background-image: url(../img/Rectangle\ 59.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        right: 320px;

        &-txt {
            padding-bottom: 25px;
            color: #000;
            font-family: Archangelsk;
            font-size: 62px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-btn {
            display: inline-flex;
            padding: 19px 50px;
            align-items: center;
            gap: 10px;
            background: #000;
            color: #F8F200;
            text-align: center;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            /* 166.667% */
        }
    }


}

.about {
    padding: 70px 320px;

    &__title {
        padding-bottom: 25px;
        color: #000;
        font-family: Archangelsk;
        font-size: 62px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__txt {
        width: 870px;
        padding-bottom: 70px;
        color: #777;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;


    }

    &__img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;

        &-1 {
            grid-area: 1 / 1 / 2 / 2;
        }

        &-2 {
            grid-area: 2 / 1 / 3 / 2;
        }

        &-3 {
            grid-area: 1 / 2 / 3 / 3;
        }
    }
}

.txt__select {
    color: #52BEDC;
    font-weight: 700;
}

.separator {
    height: 70px;
    background-image: url(../img/separator.png);
}

.winning {
    padding-top: 15px;
    padding-left: 320px;
    padding-bottom: 70px;
    background-color: #000;

    &__header {
        display: flex;
        gap: 32px;
        align-items: center;
        padding-bottom: 25px;

        &-title {
            color: #FFF;
            font-family: Archangelsk;
            font-size: 62px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__txt {
        padding-bottom: 50px;
        max-width: 881px;
        color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        /* 188.889% */
    }

    &__content {
        display: flex;
        gap: 32px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 460px;

        &-txt {
            padding-top: 35px;
            padding-bottom: 13px;
            border: none;
            border-bottom: 1px solid #777;
            background-color: #000;
            color: #FFF;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &-txt::placeholder {
            color: #FFF;
        }

        &-file {
            margin-top: 35px;
            margin-bottom: 35px;
            width: 100%;
            height: 120px;
            border: 1px dashed #777;
            padding: 39px;
            text-align: center;
            position: relative;
            /* Для позиционирования кнопки */
            cursor: pointer;
            /* Курсор указателя */
            color: #FFF;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &-file h3 {
            font-size: 18px;
            text-decoration-line: underline;
        }

        &-file p {
            font-size: 12px;
        }

        &-file input[type="file"] {
            display: none;
        }

        &-btn {
            max-width: 192px;
            display: inline-flex;
            height: 59px;
            padding: 15px 50px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            background: #F8F200;
            color: #000;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 15px;
        }

        &-checkbox {
            display: flex;
            align-items: center;
        }

        &-checkbox input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 14px;
            height: 14px;
            border: 1px solid #777777;
            position: relative;
            cursor: pointer;

        }

        &-checkbox input:checked {
            background-color: #000;

        }

        &-checkbox input:checked::after {
            content: '✔';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #F8F200;
            font-size: 14px;
        }

        &-checkbox label {
            padding-left: 10px;
            color: #FFF;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}

.separator__2 {
    background-image: url(../img/separator_2.png);
}

.sponsor {
    padding: 70px 320px;
    background-color: #F8F200;
    display: flex;

    &__left {
        padding-right: 32px;

        &-logo {
            padding: 26px 42px 0 42px;
            display: flex;
            align-items: center;
            gap: 25px;
        }
    }

    &__right {
        max-width: 558px;

        &-title {
            color: #000;
            font-family: Archangelsk;
            font-size: 62px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-txt {
            color: #000;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;

            /* 188.889% */
            &-padding {
                padding-bottom: 25px;
            }
        }

        &-pluses {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 25px;
        }

        &-pluse {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-btn {
            display: inline-flex;
            height: 59px;
            padding: 15px 50px;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            background: #000;
            color: #F8F200;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.buyproduct {
    display: flex;

    &__content {
        padding: 70px 32px;
        background-color: #000;

        &-header {
            padding-right: 320px;
            padding-bottom: 25px;
            color: #FFF;
            font-family: Archangelsk;
            font-size: 62px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-set {
            padding-bottom: 75px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &-title {
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &-txt {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #FFF;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-platform {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &-logo {
            display: flex;
            flex-direction: column;
            gap: 47px;
        }

        &-img {
            display: flex;
            align-items: center;
            gap: 79px;
        }
    }
}

.footer {
    &__top {
        padding: 13px 320px;
        display: flex;
        align-items: center;
        gap: 391px;

        &-img {
            display: flex;
            align-items: center;
            gap: 32px;
        }

        &-txt {
            display: flex;
            align-items: center;
            gap: 32px;
            color: #000;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__bottom {
        padding: 13px 0;
        background-color: #000;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 1440px) {
    body {
        max-width: 1440px;
    }

    .header {
        padding: 20px 150px 0 150px;
        gap: 400px;
    }

    .header__content {
        right: 150px;
    }
    
}

@media (max-width: 1280px) {
    body {
        max-width: 1280px;
    }

    .header {
        padding: 20px 100px 0 100px;
        gap: 300px;
    }

    .header__content {
        right: 100px;
    }
   
}